.gradle/2.8/taskArtifacts/cache.properties
.gradle/2.8/taskArtifacts/cache.properties.lock
.gradle/2.8/taskArtifacts/fileHashes.bin
.gradle/2.8/taskArtifacts/fileSnapshots.bin
.gradle/2.8/taskArtifacts/outputFileStates.bin
.gradle/2.8/taskArtifacts/taskArtifacts.bin
.idea/libraries/bolts_android_1_2_1.xml
.idea/libraries/dexmaker_1_2.xml
.idea/libraries/dexmaker_mockito_1_2.xml
.idea/libraries/hamcrest_core_1_1.xml
.idea/libraries/jsonassert_1_2_3.xml
.idea/libraries/mockito_core_1_10_19.xml
.idea/libraries/objenesis_2_1.xml
.idea/libraries/parse_android_1_10_3.xml
.idea/libraries/recyclerview_v7_23_1_1.xml
.idea/libraries/support_annotations_23_1_1.xml
.idea/libraries/support_v4_23_1_1.xml
ParseLoginSampleBasic/ParseLoginSampleBasic.iml
ParseLoginSampleCodeCustomization/ParseLoginSampleCodeCustomization.iml
ParseLoginSampleLayoutOverride/ParseLoginSampleLayoutOverride.iml
ParseLoginSampleWithDispatchActivity/ParseLoginSampleWithDispatchActivity.iml
ParseUI-Login/ParseUI-Login.iml
ParseUI-Widget/build/generated/source/buildConfig/androidTest/debug/com/parse/widget/test/BuildConfig.java
ParseUI-Widget/build/generated/source/buildConfig/debug/com/parse/widget/BuildConfig.java
ParseUI-Widget/build/generated/source/buildConfig/release/com/parse/widget/BuildConfig.java
ParseUI-Widget/build/generated/source/r/androidTest/debug/com/parse/widget/test/R.java
ParseUI-Widget/build/intermediates/bundles/debug/AndroidManifest.xml
ParseUI-Widget/build/intermediates/bundles/debug/aapt/AndroidManifest.xml
ParseUI-Widget/build/intermediates/bundles/debug/classes.jar
ParseUI-Widget/build/intermediates/bundles/release/AndroidManifest.xml
ParseUI-Widget/build/intermediates/bundles/release/aapt/AndroidManifest.xml
ParseUI-Widget/build/intermediates/bundles/release/classes.jar
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/BaseActivityInstrumentationTestCase2.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseImageViewTest.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterOfflineEnabledTest.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$1.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$10.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$11.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$12.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$13.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$14.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$15.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$16.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$17.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$2.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$3.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$4.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$5.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$6.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$7.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$8.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$9.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest$Thing.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/ParseQueryAdapterTest.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/TestActivity.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/widget/test/BuildConfig.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/widget/test/R$attr.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/widget/test/R$drawable.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/widget/test/R$layout.class
ParseUI-Widget/build/intermediates/classes/androidTest/debug/com/parse/widget/test/R.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseImageView$1.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseImageView.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseQueryAdapter$1.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseQueryAdapter$2.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseQueryAdapter$3.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseQueryAdapter$4.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseQueryAdapter$OnQueryLoadListener.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseQueryAdapter$QueryFactory.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/ParseQueryAdapter.class
ParseUI-Widget/build/intermediates/classes/debug/com/parse/widget/BuildConfig.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseImageView$1.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseImageView.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseQueryAdapter$1.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseQueryAdapter$2.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseQueryAdapter$3.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseQueryAdapter$4.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseQueryAdapter$OnQueryLoadListener.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseQueryAdapter$QueryFactory.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/ParseQueryAdapter.class
ParseUI-Widget/build/intermediates/classes/release/com/parse/widget/BuildConfig.class
ParseUI-Widget/build/intermediates/incremental/aidl/androidTest/debug/dependency.store
ParseUI-Widget/build/intermediates/incremental/aidl/debug/dependency.store
ParseUI-Widget/build/intermediates/incremental/aidl/release/dependency.store
ParseUI-Widget/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
ParseUI-Widget/build/intermediates/incremental/mergeAssets/debug/merger.xml
ParseUI-Widget/build/intermediates/incremental/mergeAssets/release/merger.xml
ParseUI-Widget/build/intermediates/incremental/mergeResourcesandroidTest/debug/merger.xml
ParseUI-Widget/build/intermediates/incremental/packageResourcesdebug/merger.xml
ParseUI-Widget/build/intermediates/incremental/packageResourcesrelease/merger.xml
ParseUI-Widget/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
ParseUI-Widget/build/intermediates/manifest/tmp/manifestMerger6624979288417557605.xml
ParseUI-Widget/build/intermediates/manifest/tmp/manifestMerger8423775325988231496.xml
ParseUI-Widget/build/intermediates/res/merged/androidTest/debug/drawable/icon.png
ParseUI-Widget/build/intermediates/res/merged/androidTest/debug/layout/view_item.xml
ParseUI-Widget/build/intermediates/res/resources-debug-androidTest.ap_
ParseUI-Widget/build/intermediates/symbols/androidTest/debug/R.txt
ParseUI-Widget/build/outputs/aar/ParseUI-Widget-debug.aar
ParseUI-Widget/build/outputs/aar/ParseUI-Widget-release.aar
ParseUI-Widget/build/tmp/packageDebugJar/MANIFEST.MF
ParseUI-Widget/build/tmp/packageReleaseJar/MANIFEST.MF
build/intermediates/dex-cache/cache.xml
