<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.software.engineering.jobthirsty" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".profile.EmployeeProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".util.NavigationDrawerFramework" >
        </activity>
        <activity android:name=".newsfeed.Newsfeed" >
        </activity>
        <activity android:name=".find.Find" >
        </activity>
        <activity android:name=".mail.Mail" >
        </activity>
        <activity android:name=".Login" >
        </activity>
        <activity android:name=".SignUp" >
        </activity>
    </application>

</manifest>
