<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.software.engineering.jobthirsty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="cs.software.engineering.jobthirsty.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cs.software.engineering.jobthirsty.permission.C2D_MESSAGE" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".profile.EmployeeProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".util.NavigationDrawerFramework"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mail.Mail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ComposeMail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".main_tab_menu.MainTabMenu"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".job_position.ViewJobPosition"
            android:label="@string/title_activity_job_position"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".company_page.ViewCompanyPage"
            android:label="CompanyPage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".job_position.CreateJobPosition"
            android:label="Post Position"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".applied_workers.AppliedWorkers"
            android:label="@string/title_activity_applied_workers"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".profile.EmployerProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".find_workers.FindWorker"
            android:label="Find Connections"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".company_page.CreateCompanyPage"
            android:label="Create Company"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".company_page.FindCompany"
            android:label="Find Company"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--                   IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="cs.software.engineering.jobthirsty" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".connections.ConnectionRequest"
            android:label="@string/title_activity_connection_request"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
